.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{

  background-color: rgb(51, 51, 51);
}
header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(88, 23, 173);
  border-radius: 6%;
  border: 2px solid black;
}

nav{
  display: flex;
  justify-content: space-between;
}

.itemnav{
  text-decoration:none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-top: 10%;
  font-size: 120%;
}
.itemnav:hover{
  color: rgb(255, 166, 0);
}

.logo{
  width: 18%;
}

a {
  margin: 10px;
}

h1{
  color: rgb(255, 166, 0);
}

.cart-container {
  width: 5vh;
  height: 5vh;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 166, 0);
  border-radius: 25%;
  text-align: center;
}

.add-sub{
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 25px;
  margin-top: 3%;
  box-shadow:inset 0px 1px 0px 0px #fff6af;
background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
background-color:#ffec64;
border:1px solid #ffaa22;
  cursor:pointer;
color:#333333;
font-family:Arial;
font-size:15px;
font-weight:bold;
text-decoration:none;

}

.text{
  font-size: 3vh;
  align-items: center;
  justify-content: center;
  margin: 25px;
  
  
}

.purchase{
  display: flex;
  margin: auto;
  align-items: center;
}

.btn {
  box-shadow:inset 0px 1px 0px 0px #fff6af;
background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
background-color:#ffec64;
border-radius:6px;
border:1px solid #ffaa22;
display:flex;
cursor:pointer;
color:#333333;
font-family:Arial;
font-size:15px;
font-weight:bold;
padding:6px 24px;
text-decoration:none;
text-shadow:0px 1px 0px #ffee66;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.btn:hover{
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
background-color:#ffab23;
}

.btn:active {

  position:relative;
top:1px;
}


.itemCont {
  background-color: rgb(39, 38, 38);
  size: 35%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  height: 350px;
  width: 230px;
  border: 2px solid rgb(255, 166, 0);
  cursor: pointer;
  text-decoration:none;
  margin-top: 3%;
  
}
.itemsCont {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  justify-content:space-between;
  text-align: center;
  align-self: center;
  flex-wrap:wrap;
}


.itemCont:hover {
  background-color: rgb(88, 23, 173);
  animation: myAnim 2s ease 0s 1 normal forwards;
  
  }

  @keyframes myAnim {
    0%,
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
  
    15% {
      transform: translateX(-30px) rotate(-6deg);
    }
  
    30% {
      transform: translateX(15px) rotate(6deg);
    }
  
    45% {
      transform: translateX(-15px) rotate(-3.6deg);
    }
  
    60% {
      transform: translateX(9px) rotate(2.4deg);
    }
  
    75% {
      transform: translateX(-6px) rotate(-1.2deg);
    }
  }

.itemPicture {
  max-width: 150px;
  max-height: 150px;
  align-items: center;

}

.itemTitle{
  color: rgb(255, 166, 0);
}

.itemDesc{
  color: azure;
}

.itemPrice{
  color: rgb(255, 166, 0);
}

.itemContDesc{
  display: flex;
  background-color: rgb(39, 38, 38);
  size: 60%;
  align-items: flex-start;
  text-align: center;
  align-content: space-around;
  margin: auto;
  height: 62vh;
  width: 100vh;
  border: 2px solid rgb(255, 166, 0);
  flex-direction:column;
  
}

.itemTitleDesc{
  color: rgb(255, 166, 0);
  font-size: 6vh;
  margin-left: 33vh;

}

.itemPictureDesc {
  max-width: 35vh;
  max-height: 35vh;
  align-items:flex-start;
  margin-left: 5vh;
  border: 2px solid rgb(255, 166, 0); ;

}

.textDos{
  color: rgb(255, 166, 0);
  text-align: center;

}

.itemPriceDesc{
  color: rgb(255, 166, 0);
  margin-left: 13vh;
  display: block;
}

.itemDescDesc{
  color: azure;
  margin-left: 10vh;
  font-weight: bold;
  font-size: 3vh;


}

.flexCont{
  display: flex;
}

.flexContDos{
  display: flex;
  margin-left: 60vh;
  margin-bottom: 20vh;
}